#mainHeader{
    text-align: center;
}

#real-alert{
    background-color: black;
    color: red;
    display: block;
    font-size: 40px;
    border: solid orange 6px;
    font-weight: bold;
    width: 500px;
}
#test-only{
    background-image:url("rainbow.jpg");
    background-color: teal;
    background-size: 50px 50px;
    color: yellow;
    display: block;
    width: 300px;
    border: solid aqua 10px;
    font-size: 30px;
}

